NODE_ENV=development
PORT=5000
API_PREFIX=/api/v1

CLIENT_ORIGINS=http://localhost:3000,http://localhost:3001

MONGODB_URI=mongodb+srv://magedmagdy260_db_user:nRspIpouBXF7iClA@cluster0.ph8xirn.mongodb.net/

JWT_ACCESS_SECRET=change-me-access
JWT_ACCESS_EXPIRES_IN=15d
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=70d
JWT_REFRESH_COOKIE_NAME=romz_refresh

REDIS_URL=redis://default:pm6BBxzYYNRz6EkcKDK3Q6CzgRYIApbX@station-wing-sack-82924.db.redis.io:19055

CLOUDINARY_CLOUD_NAME=gwqbfntf
CLOUDINARY_API_KEY=118594567564857
CLOUDINARY_API_SECRET=B_-wuRZ1vLolgcPfDrzm2giqQ-U

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
    =magedmagdy26055@gmail.com
SMTP_PASS=lzizqvmzblhrcymq

SMTP_FROM="ROMZ <no-reply@romz.local>"
CONTACT_EMAIL=admin@romz.local

ADMIN_NAME=ROMZ Admin
ADMIN_EMAIL=admin@romz.local
ADMIN_PASSWORD=change-me
ADMIN_PHONE=

PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFNU16SXhNQ3dpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS44bmZwYmlSUE5wX0htdnFDNWJzeWtXOTloQXBWNkRIUG8zbEE3NGRJNEM5NUN5eDk3WGpUcTNvM1VmSUptVlNyZkVYOWU4QmFYOW82VmQtR0NmZ0NVQQ==
PAYMOB_SECRET_KEY=egy_sk_test_cda8d70821be88db3dd8272ff588eb4f2c1e782221c47b41934358b2a2a661ff
PAYMOB_PUBLIC_KEY=egy_pk_test_7jagvxviizdDSBYu6UK6b0PTGDQSQTfr
PAYMOB_HMAC_SECRET=F8FDBC3FBAA7AFFC1BE9D7EB4949C9D3
PAYMOB_CARD_INTEGRATION_ID=5769200
PAYMOB_IFRAME_ID=1058391
PAYMOB_CHECKOUT_FLOW=legacy_iframe
PAYMOB_BASE_URL=https://accept.paymob.com
MYLERZ_BASE_URL=https://mylerzintegrationtest.mylerz.com
MYLERZ_USERNAME=myd7x
MYLERZ_PASSWORD=
MYLERZ_MERCHANT_ID=
MYLERZ_WAREHOUSE_NAME=romz1
MYLERZ_DEFAULT_SERVICE_TYPE=DTD
MYLERZ_DEFAULT_SERVICE=ND
MYLERZ_DEFAULT_SERVICE_CATEGORY=DELIVERY
MYLERZ_DEFAULT_ADDRESS_CATEGORY=H
MYLERZ_DEFAULT_PRODUCT_CATEGORY=Fashion
MYLERZ_DEFAULT_WEIGHT_KG=1
MYLERZ_CURRENCY=EGP
